@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #D5E5F5;
    width: 100%;
}

nav a {

    text-decoration: none;
    width: 74px;
    height: 36px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 24px;
    color: #00214D;
    flex: none;
    order: 0;
    flex-grow: 0;
}

h1 {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #3781E3;
}

.cabecera {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 100%;
    padding: 1%;
    background-color: #D5E5F5;
    justify-content: space-around;

}

nav li {
    display: inline;
    /* Coloca las cosas en una misma linea ocupa el espcia de su texto*/
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 64px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.principal {
    background-color: #D5E5F5;
}

.clinica-veterinaria {
    font-family: 'Plus Jakarta Sans';
    line-height: 150%;
    letter-spacing: 0.085em;
    color: #00214D;
    padding-left: 280px;
    padding-top: 15px;
}

.texto-1 {
    width: 644px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 70px;
    line-height: 150%;
    color: #00214D;
    padding-left: 128px;
    padding-top: 2%;
}

.texto-2 {
    font-family: 'Poppins';
    font-size: 24px;
    letter-spacing: 0.05em;
    color: rgba(58, 58, 58, 0.75);
    padding-left: 128px;
    padding-top: 20px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px 23px;
    background: #3781E3;
    border-radius: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border-color: #3781E3;
    border-width: 2px;
    border-style: solid;
    margin-left: 128px;
    margin-top: 26px;
}

.imagen-1 {
    position: absolute;
    width: 695px;
    height: 592px;
    left: 950px;
    top: 125px;
    border-radius: 285px;
}

/* Todo lo referente a servicios se encuentra en un div */
.servicios {
    background-color: #E9F4FF;
    text-align: center;
}

.servicios-titulo {
    font-family: 'Plus Jakarta Sans';
    font-size: 48px;
    line-height: 150%;
    color: #00214D;
    padding: 20px;
}

.servicios-tarjetas {
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}

.servicios-tarjetas li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: white;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

.servicio-titulo-p {
    font-family: 'Plus Jakarta Sans';
    text-align: left;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #00214D;
}

.servicio-descripcion {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 150%;
    color: rgba(58, 58, 58, 0.75);
    text-align: left;
    padding-top: 10px;
}

.imagen-servicio {
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}

/* Todo lo referente a contactanos se encuentra en un div */
.contactanos {
    background-color: #D5E5F5;
}

.imagen-3 {
    position: absolute;
    left: 512px;
    width: 20%
}

.contactanos-texto-1 {
    width: 570px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 70px;
    line-height: 150%;
    color: #00214D;
    margin-left: 1000px;
    padding-top: 60px;
}

.contactanos-texto-2 {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 150%;
    color: rgba(58, 58, 58, 0.75);
    text-align: left;
    padding-top: 60px;
    width: 570px;
    margin-left: 1000px;
    padding-bottom: 30px;
}

.boton-contactanos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px 23px;
    background: #3781E3;
    border-radius: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border-color: #3781E3;
    border-width: 2px;
    border-style: solid;
    margin-left: 1100px;
    margin-top: 26px;
}

/* Todo lo referente a nosotros se encuentra en un div */
.nosotros {
    background-color: #E9F4FF;
    text-align: center;
}

/* Todo lo referente a veterinarios se encuentra en un div*/
.veterinarios {
    background-color: #D5E5F5;
    text-align: center;
}

.veterinarios-nombre {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #00214D;
}

.veterinarios-descripcion {
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    line-height: 150%;
    color: #3A3A3A;
}

.veterinarios li {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 20px 10px;
    box-sizing: border-box;
    border-color: #D5E5F5;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

/* Todo lo referente a registrarse se encuentra en un div*/
.suscribete {
    background-color: #E9F4FF;
    text-align: center;
    flex-direction: column;
}

.suscribete-2 {
    background: #E9F4FF;
    border-radius: 20px;
    text-align: center;
}

h3 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #00214D;
    padding-top: 30px;
}

.boton-registrarse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px 23px;
    background: #3781E3;
    border-radius: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border-color: #3781E3;
    border-width: 2px;
    border-style: solid;
    margin-left: 810px;
    margin-top: 26px;
}

/* Todo lo referente a locales se encuentra en un div*/
.locales {
    background-color: #D5E5F5;
    text-align: center;
}

.locales-texto-2 {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 150%;
    color: rgba(58, 58, 58, 0.75);
    text-align: center;
    padding-top: 20px;
    width: 570px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 640px;
}

.locales-tarjetas li {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: white;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

.locales-titulo-p {
    font-family: 'Plus Jakarta Sans';
    text-align: left;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #00214D;
}

.locales-servicio {
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}

/* Todo lo referente a contactos se encuentra en un div*/
.contactos {
    background-color: #E9F4FF;
    text-align: center;
}

.contactos-tarjetas li {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #E9F4FF;
    background-color: #E9F4FF;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

.contactos-titulo-p {
    font-family: 'Plus Jakarta Sans';
    text-align: left;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #00214D;
    padding: 10px;
}

.contactos-texto {
    font-family: 'Quicksand';
    font-style: normal;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #8d99ae;
    text-align: left;
}

/* Esta parte es el final esel footer */
footer {
    background-color: #E9F4FF;
    text-align: center;
    padding: 40px;
}
.footer-tarjetas li {
    display: inline-block;
    text-align: center;
    width: 10%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px 5px;
    box-sizing: border-box;
    border-color: #E9F4FF;
    background-color: #E9F4FF;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

.copyright {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #00214D;
}
.image-footer{
    width: 30%;
}